:root {
    color-scheme: light dark;
}

body:has(iframe) {
    overflow: hidden;    /* prevent scrolling the page */
}

iframe {
    /* Fullscreen overlay */
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /* Transparent background with a backdrop effect (optional) */
    color-scheme: auto;
    backdrop-filter: blur(4px) brightness(0.7);
    -webkit-backdrop-filter: blur(4px) brightness(0.7);
}
