:root {
    color-scheme: light dark;
}

body:has(#auth-iframe) {
    overflow: hidden;    /* prevent scrolling the page */
}

#auth-iframe {
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    color-scheme: auto;
    background: transparent;
    backdrop-filter: blur(4px) brightness(0.7);
    -webkit-backdrop-filter: blur(4px) brightness(0.7);
}
